/* Text styles */
.xr_s0 {font-family:Arial;font-size:24px;font-weight:normal;font-style:normal;text-decoration:none;color:#4C4848;letter-spacing:0.0em;}
.xr_s1 {font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
.xr_s2 {font-family:Arial;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0.0em;}
